.no-margin {
  margin: 0;
}

.navbar-dark {
  background: #20170d;
}

.navbar{
  border-radius: 0px !important;
}
a:hover, a:focus {
  color: #BA0060 !important;
  text-decoration: none !important;
}

a {
  color: #E20074;
}

.some {
  color: #A10053
}
.active {
  color: red;
}
