<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
</div>
<p-dataTable [value]="cars">
    <header>List of Cars</header>
    <p-column field="vin" header="Vin (startsWith)" [filter]="true"></p-column>
    <p-column field="year" header="Year (contains)" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="brand" header="Brand (startsWith)" [filter]="true"></p-column>
    <p-column field="color" header="Color (endsWith)" [filter]="true" filterMatchMode="endsWith"></p-column>
</p-dataTable>
