<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-grid-row ui-widget-header">
        <div class="ui-grid-col-4">
            <h3>Search:</h3>
            <div class="ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
                <p-autoComplete [(ngModel)]="countries" [suggestions]="filteredCountriesMultiple"
                                (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
                                [minLength]="1" placeholder="Countries" field="name" [multiple]="true">
                </p-autoComplete>
            </div>
            <div class="ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
                <input #gb type="text" pInputText style="float:left" placeholder="Buyer">
                <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
            </div>
            <div class="ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
                <input type="text" pInputText style="float:left" placeholder="Supplier">
                <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
            </div>
            <div class="ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
                <input type="text" pInputText style="float:left" placeholder="VPN #">
            </div>
        </div>
        <div class="ui-grid-col-4">
            <h3>Created From:</h3>
            <p-calendar [(ngModel)]="dateFrom" showAnim="slideDown" [showIcon]="true"></p-calendar>
        </div>
        <div class="ui-grid-col-4">
            <h3>Created From:</h3>
            <p-calendar [(ngModel)]="dateTo" showAnim="slideDown" [showIcon]="true"></p-calendar>
        </div>

    </div>

</div>
<p-dataTable [value]="cars" [rows]="10" [paginator]="true" [globalFilter]="gb" [responsive]="true"
             selectionMode="single" [(selection)]="selectedCar1">
    <header>List of Cars</header>
    <footer>
        <div style="text-align: left">Selected Car: {{selectedCar1 ? selectedCar1.vin + ' - ' + selectedCar1.brand + ' -
            ' + selectedCar1.year + ' - ' + selectedCar1.color: 'none'}}
        </div>
    </footer>
    <p-column field="vin" header="Vin (startsWith)" [filter]="true">
        <template let-car="rowData">
            <style>a {color: #337ab7 !important; text-decoration: none;}</style>
            <a [routerLink]="['/workbench/record', car.vin]">{{car.vin}}</a>
        </template>
    </p-column>
    <p-column field="year" header="Year (contains)" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="brand" header="Brand (startsWith)" [filter]="true"></p-column>
    <p-column field="color" header="Color (endsWith)" [filter]="true" filterMatchMode="endsWith"></p-column>
</p-dataTable>
